<template>

    <div>
        <div class="card">
            <div class="card-body">
                <div class="">
                    <div class="row row-cols">
                        <div class="col" v-show="selected.length">
                            <a href="#" class="btn btn-pill btn-primary m-3" v-if="selected.length">Generate labels</a>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-pill btn-default m-3">Sync limelight</a>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-pill btn-primary m-3">Refresh dispatch</a>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-pill btn-default m-3">Force shipped</a>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-pill btn-primary m-3">Re-process</a>
                        </div>

                        <div class="col" v-show="selected.length && statusSelected !== 'shipped'">
                            <a
                                @click.prevent="changeStatus('shipped')"
                                class="btn btn-pill btn-default m-3"
                            >
                                Mark shipped
                            </a>
                        </div>
                        <div class="col" v-show="selected.length && statusSelected !== 'processing'">
                            <a
                                @click.prevent="changeStatus('processing')"
                                class="btn btn-pill btn-primary m-3"
                            >
                                Mark processing
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { mapGetters, mapActions } from 'vuex'

    export default {
        methods: {
          ...mapActions({
              updateStatus: 'orders/updateStatus',
          }),
            changeStatus(status) {
                this.updateStatus({
                    status: status,
                    orders: this.selected
                })
            }
        },
        computed: {
            ...mapGetters({
                selected: 'orders/getOrdersSelected',
                statusSelected: 'orders/getStatusSelected'
            }),
        },
    }
</script>
