<template>
    <div data-app>
        <div class="row">
            <div class="col-lg-12">
                <form @submit.prevent="create">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Create Order</h3>
                        </div>
                        <div class="card-body">
                            <div id="shipping-details">
                                <div class="row mb-3">
                                    <div class="col">
                                        <h4 class="font-weight-bold">Shipping Details</h4>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="shipFirst">Firstname</label>
                                            <input class="form-control" name="shipFirst" type="text" v-bind:class="{ 'is-invalid': errors.shipFirst }" id="shipFirst" v-model="order.shipFirst">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipFirst">
                                                <strong>{{ errors.shipFirst[0] }}</strong>
                                            </span>


                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="shipLast">Lastname</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.shipLast }" name="shipLast" type="text" id="shipLast" v-model="order.shipLast">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipLast">
                                                <strong>{{ errors.shipLast[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="shipEmail">Email</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.shipEmail }" name="shipEmail" type="text" id="shipEmail" v-model="order.shipEmail">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipEmail">
                                                <strong>{{ errors.shipEmail[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="shipPhone">Phone</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.shipPhone }" name="shipPhone" type="text" id="shipPhone" v-model="order.shipPhone">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipPhone">
                                                <strong>{{ errors.shipPhone[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="shipState">State</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.shipState }" name="shipState" type="text" id="shipState" v-model="order.shipState">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipState">
                                                <strong>{{ errors.shipState[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="shipAddress1">Address 1</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.shipAddress1 }" name="shipAddress1" type="text" id="shipAddress1" v-model="order.shipAddress1">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipAddress1">
                                                <strong>{{ errors.shipAddress1[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="shipAddress2">Address 2</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.shipAddress2 }" name="shipAddress2" type="text" id="shipAddress2" v-model="order.shipAddress2">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipAddress2">
                                                <strong>{{ errors.shipAddress2[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="shipCity">City</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.shipCity }" name="shipCity" type="text" id="shipCity" v-model="order.shipCity">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipCity">
                                                <strong>{{ errors.shipCity[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="shipPostcode">Postcode</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.shipPostcode }" name="shipPostcode" type="text" id="shipPostcode" v-model="order.shipPostcode">

                                            <span class="invalid-feedback" role="alert" v-if="errors.shipPostcode">
                                                <strong>{{ errors.shipPostcode[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-1">
                                        <div class="form-group">
                                            <label for="shipCountry">Country</label>
                                            <input class="form-control" disabled="" name="shipCountry" type="text" value="UK" id="shipCountry">

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="billing-details">
                                <div class="row mb-3">
                                    <div class="col">
                                        <h4 class="font-weight-bold">Billing Details</h4>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="billFirst">Firstname</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billFirst }" name="billFirst" type="text" id="billFirst" v-model="order.billFirst">

                                            <span class="invalid-feedback" role="alert" v-if="errors.billFirst">
                                                <strong>{{ errors.billFirst[0] }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="billLast">Lastname</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billLast }" name="billLast" type="text" id="billLast" v-model="order.billLast">

                                            <span class="invalid-feedback" role="alert" v-if="errors.billLast">
                                                <strong>{{ errors.billLast[0] }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="billEmail">Email</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billEmail }" name="billEmail" type="text" id="billEmail" v-model="order.billEmail">

                                            <span class="invalid-feedback" role="alert" v-if="errors.billEmail">
                                                <strong>{{ errors.billEmail[0] }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="billPhone">Phone</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billPhone }" name="billPhone" type="text" id="billPhone" v-model="order.billPhone">
                                            <span class="invalid-feedback" role="alert" v-if="errors.billPhone">

                                                <strong>{{ errors.billPhone[0] }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="billState">State</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billState }" name="billState" type="text" id="billState" v-model="order.billState">

                                            <span class="invalid-feedback" role="alert" v-if="errors.billState">
                                                <strong>{{ errors.billState[0] }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="billAddress1">Address 1</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billAddress1 }" name="billAddress1" type="text" id="billAddress1" v-model="order.billAddress1">

                                            <span class="invalid-feedback" role="alert" v-if="errors.billAddress1">
                                                <strong>{{ errors.billAddress1[0] }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="billAddress2">Address 2</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billAddress2 }" name="billAddress2" type="text" id="billAddress2" v-model="order.billAddress2">

                                            <span class="invalid-feedback" role="alert" v-if="errors.billAddress2">
                                                <strong>{{ errors.billAddress2[0] }}</strong>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="billCity">City</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billCity }" name="billCity" type="text" id="billCity" v-model="order.billCity">

                                            <span class="invalid-feedback" role="alert" v-if="errors.billCity">
                                                <strong>{{ errors.billCity[0] }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="billPostcode">Postcode</label>
                                            <input class="form-control" v-bind:class="{ 'is-invalid': errors.billPostcode }" name="billPostcode" type="text" id="billPostcode" v-model="order.billPostcode">

                                            <span class="invalid-feedback" role="alert" v-if="errors.billPostcode">
                                                <strong>{{ errors.billPostcode[0] }}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-1">
                                        <div class="form-group">
                                            <label for="shipCountry">Country</label>
                                            <input class="form-control" disabled="" name="shipCountry" type="text" value="UK" id="billCountry">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <v-select
                                        v-model="order.products"
                                        :items="products"
                                        :menu-props="{ maxHeight: '400' }"
                                        label="Products"
                                        multiple
                                        persistent-hint
                                        chips
                                        outlined="outlined"
                                        dense="dense"
                                    ></v-select>
                                </div>
                            </div>

                        <input type="hidden" name="on" id="on" value="true">

                        <div class="card-footer text-right">
                            <button class="btn btn-purple" type="submit">
                                Save Order
                            </button>
                        </div>

                    </div>
                </div>

                    <message></message>

                </form>

            </div>
        </div>
    </div>
</template>

<script>

    import { mapActions, mapGetters } from 'vuex'

    export default {
        data: () => ({
            order: {
                shipFirst: '',
                shipLast: '',
                shipEmail: '',
                shipPhone: '',
                shipAddress1: '',
                shipAddress2: '',
                shipState: '',
                shipCity: '',
                shipPostcode: '',
                billFirst: '',
                billLast: '',
                billEmail: '',
                billPhone: '',
                billAddress1: '',
                billAddress2: '',
                billState: '',
                billCity: '',
                billPostcode: '',
                products: [],
            },
            errors: [],
        }),
        mounted() {
            this.getProducts()
        },
        computed: {
          ...mapGetters({
              products: 'products/products',
            })
        },
        methods: {
            ...mapActions({
                createOrder: 'orders/createOrder',
                getProducts: 'products/getProducts'
            }),
            create() {
                this.createOrder({
                    payload: this.order,
                    context: this
                })
            }
        }
    }
</script>
