<template>
    <div data-app>
        <div class="row">
            <div class="col-lg-12">
                <form @submit.prevent="edit">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Edit Order </h3>
                        </div>
                        <div class="card-body">
                            <div id="shipping-details">
                                <div class="row mb-3">
                                    <div class="col">
                                        <h4 class="font-weight-bold">Shipping Details</h4>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="shipFirst">Firstname</label>
                                            <input class="form-control" name="shipFirst" type="text" id="shipFirst" v-model="shipFirst">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="shipLast">Lastname</label>
                                            <input class="form-control" name="shipLast" type="text" id="shipLast" v-model="shipLast">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="shipEmail">Email</label>
                                            <input class="form-control" name="shipEmail" type="text" id="shipEmail" v-model="shipEmail">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="shipPhone">Phone</label>
                                            <input class="form-control" name="shipPhone" type="text" id="shipPhone" v-model="shipPhone">
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="shipState">State</label>
                                            <input class="form-control" name="shipState" type="text" id="shipState" v-model="shipState">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="shipAddress1">Address 1</label>
                                            <input class="form-control" name="shipAddress1" type="text" id="shipAddress1" v-model="shipAddress1">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="shipAddress2">Address 2</label>
                                            <input class="form-control" name="shipAddress2" type="text" id="shipAddress2" v-model="shipAddress2">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="shipCity">City</label>
                                            <input class="form-control" name="shipCity" type="text" id="shipCity" v-model="shipCity">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="shipPostcode">Postcode</label>
                                            <input class="form-control" name="shipPostcode" type="text" id="shipPostcode" v-model="shipPostcode">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-1">
                                        <div class="form-group">
                                            <label for="shipCountry">Country</label>
                                            <input class="form-control" disabled name="shipCountry" type="text" value="UK" id="shipCountry">

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="billing-details">
                                <div class="row mb-3">
                                    <div class="col">
                                        <h4 class="font-weight-bold">Billing Details</h4>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="billFirst">Firstname</label>
                                            <input class="form-control" name="billFirst" type="text" id="billFirst" v-model="billFirst">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="billLast">Lastname</label>
                                            <input class="form-control" name="billLast" type="text" id="billLast" v-model="billLast">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="billEmail">Email</label>
                                            <input class="form-control" name="billEmail" type="text" id="billEmail" v-model="billEmail">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="billPhone">Phone</label>
                                            <input class="form-control" name="billPhone" type="text" id="billPhone" v-model="billPhone">
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="billState">State</label>
                                            <input class="form-control" name="billState" type="text" id="billState" v-model="billState">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="billAddress1">Address 1</label>
                                            <input class="form-control" name="billAddress1" type="text" id="billAddress1" v-model="billAddress1">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="billAddress2">Address 2</label>
                                            <input class="form-control" name="billAddress2" type="text" id="billAddress2" v-model="billAddress2">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="billCity">City</label>
                                            <input class="form-control" name="billCity" type="text" id="billCity" v-model="billCity">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <label for="billPostcode">Postcode</label>
                                            <input class="form-control" name="billPostcode" type="text" id="billPostcode" v-model="billPostcode">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-1">
                                        <div class="form-group">
                                            <label for="shipCountry">Country</label>
                                            <input class="form-control" disabled name="shipCountry" type="text" value="UK" id="billCountry">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <v-select
                                        v-model="products"
                                        :items="allProducts"
                                        :menu-props="{ maxHeight: '400' }"
                                        label="Products"
                                        multiple
                                        persistent-hint
                                        chips
                                        outlined="outlined"
                                        dense="dense"
                                    ></v-select>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer text-right">
                            <button class="btn btn-purple" type="submit">
                                Update Order
                            </button>
                        </div>

                    </div>

                    <message></message>

                </form>

            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapActions, mapGetters} from 'vuex'

    export default {
        data() {
            return {
                id: '',
                shipFirst: '',
                shipLast: '',
                shipEmail: '',
                shipPhone: '',
                shipAddress1: '',
                shipAddress2: '',
                shipState: '',
                shipCity: '',
                shipPostcode: '',
                billFirst: '',
                billLast: '',
                billEmail: '',
                billPhone: '',
                billAddress1: '',
                billAddress2: '',
                billState: '',
                billCity: '',
                billPostcode: '',
                products: [],
                errors: []
            }
        },
        computed: {
            currentRouteName() {
                return this.$route.name;
            },

            ...mapGetters({
                allProducts: 'products/products',
            })
        },
        mounted() {
            this.getProducts()
        },
        methods: {
            ...mapActions({
                updateOrder: 'orders/updateOrder',
                getProducts: 'products/getProducts'
            }),

            edit() {
                this.updateOrder({
                    payload: {
                        id: this.id,
                        shipFirst: this.shipFirst,
                        shipLast: this.shipLast,
                        shipEmail: this.shipEmail,
                        shipPhone: this.shipPhone,
                        shipAddress1: this.shipAddress1,
                        shipAddress2: this.shipAddress2,
                        shipState: this.shipState,
                        shipCity: this.shipCity,
                        shipPostcode: this.shipPostcode,
                        billFirst: this.billFirst,
                        billLast: this.billLast,
                        billEmail: this.billEmail,
                        billPhone: this.billPhone,
                        billAddress1: this.billAddress1,
                        billAddress2: this.billAddress2,
                        billState: this.billState,
                        billCity: this.billCity,
                        billPostcode: this.billPostcode,
                        products: this.products
                    },
                    context: this
                })
            }
        },
        created() {
            let uri = `/api/orders/${this.$route.params.id}/edit`;
            axios.get(uri).then((response) => {
                this.id = response.data.data.id;
                this.shipFirst = response.data.data.ship.data.name;
                this.shipLast = response.data.data.ship.data.lastname;
                this.shipEmail = response.data.data.ship.data.email;
                this.shipPhone = response.data.data.ship.data.phone;
                this.shipAddress1 = response.data.data.ship.data.address1;
                this.shipAddress2 = response.data.data.ship.data.address2;
                this.shipState = response.data.data.ship.data.state;
                this.shipCity = response.data.data.ship.data.city;
                this.shipPostcode = response.data.data.ship.data.postcode;
                this.billFirst = response.data.data.bill.data.name;
                this.billLast = response.data.data.bill.data.lastname;
                this.billEmail = response.data.data.bill.data.email;
                this.billPhone = response.data.data.bill.data.phone;
                this.billAddress1 = response.data.data.bill.data.address1;
                this.billAddress2 = response.data.data.bill.data.address2;
                this.billState = response.data.data.bill.data.state;
                this.billCity = response.data.data.bill.data.city;
                this.billPostcode = response.data.data.bill.data.postcode;

                let products = response.data.data.products.data;

                products.forEach((product) => {
                    this.products.push(product.name)
                    console.log(this.products)
                })

            });
        },
    }
</script>
