<template>
    <div>
        <breadcrumb-component :title="'Orders'" :status="statusSelected" :routeName="'/order/create'"></breadcrumb-component>

        <message></message>

        <search-form></search-form>

        <action-button></action-button>

        <order-table></order-table>
    </div>
</template>

<script>

    import { mapGetters } from 'vuex'

    export default {
        data () {
            return {
                index: null
            }
        },

        computed: {
            ...mapGetters({
                statusSelected: 'orders/getStatusSelected',
            })
        }
    }
</script>

