<template>
    <div data-app class="mb-3">
        <div v-if="orders.length">
            <v-data-table
                v-model="selected"
                :headers="headers"
                :items="statusSelected ? filteredOrders : orders"
                item-key="order_id"
                sort-by="order_id"
                show-select
                class="elevation-1"
                :footer-props="{'items-per-page-options': [10, 50, 100, 250, 500]}"
            >

                <template v-slot:item="{ item,  isSelected, select }">
                    <tr>
                        <td
                            :class="isSelected?'text-primary':''" @click="toggle(isSelected,select,$event)"
                            class="d-flex align-center">
                            <v-icon class="px-1" color="black" v-if="isSelected">mdi-check</v-icon>
                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-checkbox-blank-outline theme--light" v-else></i>
                        </td>
                        <td>{{item.order_id}}</td>
                        <td>{{item.ordered_on}}</td>
                        <td>{{item.ship.data.name}} {{ item.ship.data.lastname }}</td>
                        <td>{{item.ship.data.email}}</td>
                        <td>{{item.ship.data.postcode}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.tracking_number}}</td>
                        <td class="text-start">
                            <router-link :to="{name: 'order-edit', params: { id: item.id }}" class="v-icon notranslate mr-2 v-icon--link mdi mdi-pencil theme--light" style="font-size: 16px;"></router-link>
                            <button @click="removeItem(item)" type="button" class="v-icon notranslate v-icon--link mdi mdi-delete theme--light" style="font-size: 16px;"></button>
                        </td>
                    </tr>
                </template>

                <template v-slot:top>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-Secondary  mt-1 mb-1 mr-3" v-show="orders.length !== 0">
                                    <span>Selected</span>
                                    <span class="badge badge-dark">{{ selected.length }}</span>
                                </button>
                            </div>
                            <div class="col" align="center">
                                <a @click.prevent="removeAllSelected()" class="btn btn-app btn-danger mr-2 mt-1 mb-1 text-white" v-if="selected.length > 0">
                                    <i class="fa fa-trash text-white"></i> Remove all selected
                                </a>
                                <a @click.prevent="deselectAllOrders()" class="btn btn-app btn-gray mr-2 mt-1 mb-1 text-white" v-if="selected.length > 0">
                                    <i class="fa fa-check text-white"></i> Deselect all
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
            </v-data-table>
        </div>
        <div v-else>
            <div class="row">
                <div class="col" align="center">
                    <span class="font-weight-bold">
                        There are no orders to show, please change the filter or create a new one
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { mapGetters, mapActions, mapMutations } from 'vuex'

    export default {
        data () {
            return {
                ordersTest: [],
                loading: true,
                selectedIds: [],
            }
        },

        computed: {
            ...mapGetters({
                orders: 'orders/getOrders',
                statusSelected: 'orders/getStatusSelected',
                headers: 'orders/getHeaders',
                ordersSelected: 'orders/getOrdersSelected'
            }),
            selected: {
                get() {
                    return this.ordersSelected;
                },
                set(value) {
                    this.setOrdersSelected(value);
                }
            },

            filteredOrders() {

                this.deselectAllOrders()

                return this.orders.filter((item) => {
                    return item.status === this.statusSelected
                })
            }
        },

        mounted() {
            this.getOrders()
        },

        methods: {
            ...mapActions({
                getOrders: 'orders/getOrders',
                deleteOrder: 'orders/deleteOrder',
                deleteOrdersSelected: 'orders/deleteOrdersSelected'
            }),

            ...mapMutations({
                setOrdersSelected: 'orders/setOrdersSelected'
            }),

            toggle(isSelected,select,e) {
                select(!isSelected)
            },

            removeItem(item) {

                this.$swal.fire({
                    title: 'Are you sure?',
                    text: `You will delete the order ${item.order_id}`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteOrder(item.id)
                        this.$swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }
                })
            },

            deselectAllOrders() {
              this.selected = []
            },

            removeAllSelected() {

                this.selectedIds = []

                this.selected.filter((item) => {
                    this.selectedIds.push(item.id)
                })

                this.$swal.fire({
                    title: 'Are you sure?',
                    text: `You will delete all the orders selected`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete them!'
                }).then((result) => {

                    if (result.value) {

                        this.deleteOrdersSelected({
                            payload: this.selected,
                            orders: {
                                orders: this.selectedIds
                            }
                        })

                        this.$swal.fire(
                            'Deleted!',
                            'Your orders have been deleted.',
                            'success'
                        )
                    }
                })

            },
        },
    }
</script>
