<template>
    <div class="p-3" data-app>
        <v-card
            class="p-4"
        >
            <v-form>
                <div class="row row-cols-5">
                    <div class="col">
                        <v-menu
                            ref="menuFrom"
                            v-model="menuFrom"
                            :close-on-content-click="false"
                            :return-value.sync="order.from"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="order.from"
                                    label="From"
                                    readonly
                                    v-on="on"
                                    outlined="outlined"
                                    dense="dense"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="order.from" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="menuFrom = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.menuFrom.save(order.from)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </div>
                    <div class="col">
                        <v-menu
                            ref="menuTo"
                            v-model="menuTo"
                            :close-on-content-click="false"
                            :return-value.sync="order.to"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="order.to"
                                    label="To"
                                    readonly
                                    v-on="on"
                                    outlined="outlined"
                                    dense="dense"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="order.to" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="menuTo = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.menuTo.save(order.to)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.shipEmail"
                            label="Email"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.shipAddress1"
                            label="Address 1"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.shipCity"
                            label="City"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                </div>
                <div class="row row-cols-5">
                    <div class="col">
                        <v-text-field
                            v-model="order.order_id"
                            label="Order #"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.shipFirst"
                            label="Firstname"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.shipPhone"
                            label="Phone"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.shipAddress2"
                            label="Address 2"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            label="UK"
                            required
                            outlined="outlined"
                            dense="dense"
                            disabled
                        ></v-text-field>
                    </div>
                </div>
                <div class="row row-cols-5">
                    <div class="col">
                        <v-text-field
                            v-model="order.tracking_number"
                            label="Tracking Number #"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.shipLast"
                            label="Lastname"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.state"
                            label="State"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col">
                        <v-text-field
                            v-model="order.shipPostcode"
                            label="Postcode"
                            required
                            outlined="outlined"
                            dense="dense"
                        ></v-text-field>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row">
                    <div class="col">
                        <v-select
                            v-model="order.products"
                            :items="products"
                            :menu-props="{ maxHeight: '400' }"
                            label="Products"
                            multiple
                            persistent-hint
                            chips
                            outlined="outlined"
                            dense="dense"
                        ></v-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <v-btn @click="submit()" small color="primary" dark>Search</v-btn>
                        <v-btn @click="clear" small>clear</v-btn>
                    </div>
                </div>
            </v-form>
        </v-card>
    </div>
</template>


<script>

    import { mapGetters, mapActions } from 'vuex'

    export default {
        data: () => ({
            dates: ['2019-09-10', '2019-09-20'],
            items: ['foo', 'bar', 'fizz', 'buzz'],
            value: [],
            outlined: true,
            dense: true,
            menuFrom: false,
            menuTo: false,
            order: {
                from: new Date().toISOString().substr(0, 10),
                to: new Date().toISOString().substr(0, 10),
                order_id: '',
                tracking_number: '',
                shipFirst: '',
                shipLast: '',
                shipEmail: '',
                shipPhone: '',
                shipAddress1: '',
                shipAddress2: '',
                shipState: '',
                shipCity: '',
                shipPostcode: '',
                products: [],
            }
        }),
        mounted() {
            this.getProducts()
        },
        computed: {
            ...mapGetters({
                products: 'products/products',
                statusSelected: 'orders/getStatusSelected'
            }),
        },
        methods: {
            ...mapActions({
                getOrders: 'orders/getOrders',
                getProducts: 'products/getProducts'
            }),

            submit() {
                this.getOrders(this.order)
            },

            clear () {
                this.order.from = ''
                this.order.to = ''
                this.order.order_id = ''
                this.order.tracking_number = ''
                this.order.shipFirst = ''
                this.order.shipLast = ''
                this.order.shipEmail = ''
                this.order.shipState = ''
                this.order.shipAddress1 = ''
                this.order.shipAddress2 = ''
                this.order.products = []
            },

            getNow: function() {
                const today = new Date();
                const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                const dateTime = date +' '+ time;
                this.order.from = dateTime;
                this.order.to = dateTime;
            }
        }
    }
</script>
