<template>
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="text-center mb-6">
                    <img src="assets/images/brand/logo-light.png" class="" alt="">
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5 col-sm-7 ">
                        <div class="card-group mb-0">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h1>Login</h1>
                                    <p class="text-muted">Sign In to your account</p>
                                    <form @submit.prevent="submit">
                                        <div class="input-group mb-3">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input id="email" type="email" class="form-control" v-bind:class="{ 'is-invalid': errors.email }" placeholder="Email" name="email" v-model="email">

                                            <span class="invalid-feedback" role="alert" v-if="errors.email">
                                                <strong>{{ errors.email[0] }}</strong>
                                            </span>
                                        </div>
                                        <div class="input-group mb-4">
                                            <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                            <input id="password" type="password" class="form-control" v-bind:class="{ 'is-invalid': errors.password }" placeholder="Password" name="password" v-model="password">

                                            <span class="invalid-feedback" role="alert" v-if="errors.password">
                                                <strong>{{ errors.password[0] }}</strong>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-gradient-primary btn-block">Login</button>
                                            </div>
<!--                                            <div class="col-12">-->
<!--                                                <a href="forgot-password.html" class="btn btn-link box-shadow-0 px-0">Forgot password?</a>-->
<!--                                            </div>-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- col end -->
                </div><!-- row end -->
            </div>
        </div><!-- row end -->
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    import localforage from 'localforage'
    import { isEmpty } from 'lodash'

    export default {
        data() {
            return {
                email: null,
                password: null,
                errors: []
            }
        },
        methods: {
            ...mapActions({
                login: 'auth/login'
            }),
            submit () {
                this.login({
                    payload: {
                        email: this.email,
                        password: this.password,
                    },
                    context: this
                }).then(() => {

                    localforage.getItem('intended').then((name) => {

                        if(isEmpty(name)) {
                            this.$router.replace({ name: 'orders' })
                        }

                        this.$router.replace({ name: name })
                    })
                })
            }
        }
    }
</script>
