<template>

    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="text-center mb-6">
                    <img src="assets/images/brand/logo-light.png" class="" alt="">
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5 col-sm-7 ">
                        <div class="card-group mb-0">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h1>Register</h1>
                                    <p class="text-muted">Create New Account</p>
                                    <form @submit.prevent="submit">
                                        <div class="input-group mb-3">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input id="name" type="text" class="form-control" v-bind:class="{ 'is-invalid': errors.name }" name="name" placeholder="Name" value="" v-model="name">

                                            <span class="invalid-feedback" role="alert" v-if="errors.name">
                                                <strong>{{ errors.name[0] }}</strong>
                                            </span>
                                        </div>

                                        <div class="input-group mb-3">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input id="email" type="email" class="form-control" v-bind:class="{ 'is-invalid': errors.email }" name="email" placeholder="Email Address" v-model="email">

                                            <span class="invalid-feedback" role="alert" v-if="errors.email">
                                                <strong>{{ errors.email[0] }}</strong>
                                            </span>
                                        </div>

                                        <div class="input-group mb-4">
                                            <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                            <input id="password" type="password" class="form-control" v-bind:class="{ 'is-invalid': errors.password }" placeholder="Password" name="password" v-model="password">

                                            <span class="invalid-feedback" role="alert" v-if="errors.password">
                                                <strong>{{ errors.password[0] }}</strong>
                                            </span>
                                        </div>

                                        <div class="input-group mb-4">
                                            <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                            <input id="password-confirm" type="password" class="form-control" name="password_confirmation" placeholder="Password Confirmation" v-model="password_confirmation">

                                            <span class="invalid-feedback" role="alert" v-if="errors.password">
                                                <strong>{{ errors.password[0] }}</strong>
                                            </span>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-gradient-primary btn-block px-4">
                                                    Create a new account
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- col end -->
                </div><!-- row end -->
            </div>
        </div><!-- row end -->
    </div>

</template>

<script>

    import { mapActions } from 'vuex'

    export default {
        data() {
            return {
                name: null,
                email: null,
                password: null,
                password_confirmation: null,
                errors: []
            }
        },
        methods: {
            ...mapActions({
                register: 'auth/register'
            }),
            submit () {
                this.register({
                    payload: {
                        name: this.name,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password,
                    },
                    context: this
                }).then(() => {
                    this.$router.replace({ name: 'orders' })
                })

            }
        }
    }
</script>

