<template>
    <div class="alert alert-primary text-center" role="alert" v-if="message">
        <span class="alert-inner--icon"><i class="fe fe-check-square"></i></span>
        <span class="alert-inner--text"><strong>Success!</strong> {{ message }}</span>
    </div>

</template>
<script>
    import { mapGetters } from 'vuex'
    export default {
        computed: {
            ...mapGetters({
                message: 'message'
            })
        }
    }
</script>
