<template>
    <div class="h-100">
        <component :is="layout">
            <router-view></router-view>
        </component>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    const default_layout = "default"

    export default {
        computed: {
            ...mapGetters({
               user: 'auth/user'
           }),

            layout() {
                return (this.$route.meta.layout || default_layout) + '-layout'
            }
        },
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            signout () {
                this.logout().then(() => {
                    this.$router.replace({ name: 'home' })
                })
            }
        }
    }
</script>
