<template>
    <!-- page-header -->
    <div class="page-header">
        <h4 class="page-title">{{ title }} {{ status }}</h4>
        <ol class="breadcrumb">
            <div v-show="routeName != null">
                <router-link :to="routeName" :class="'btn btn-pill btn-primary m-3'"> Create Order</router-link>
            </div>
        </ol><!-- breadcrumb end -->
    </div>
    <!-- page-header end -->
</template>

<script>
    export default {
        props: {
            title: {
                required: true,
                type: String
            },

            routeName: {
              required: false,
              type: String
            },

            status: {
                required: false,
                type: String
            }
        }
    }
</script>
