<template>
    <!--app-header-->
    <div class="app-header header d-flex">
        <div class="container-fluid">
            <div class="d-flex">
                <router-link :to="{ name: 'orders' }" :class="'header-brand'">Shipping</router-link>
                <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>
                <!-- sidebar-toggle-->
                <a href="#" data-toggle="search" class="nav-link nav-link d-md-none navsearch"><i class="fa fa-search"></i></a>
                <!-- search icon -->
                <div class="dropdown d-none d-md-flex">
                    <a  class="nav-link icon full-screen-link">
                        <i class="fe fe-maximize-2"  id="fullscreen-button"></i>
                    </a>
                </div>

                <div class="d-flex order-lg-2 ml-auto horizontal-dropdown">
                    <div class="dropdown dropdown-toggle">
                        <a href="#" class="nav-link leading-none" data-toggle="dropdown">
                            <span class="avatar avatar-md brround"><img src="assets/images/faces/male/33.jpg" alt="Profile-img" class="avatar avatar-md brround"></span>
                            <span class="mr-3 d-none d-lg-block ">
                                <span class="text-gray-white">
                                    <span class="ml-2">Account</span>
                                </span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <div class="text-center">
                                <div class="dropdown-divider"></div>
                            </div>

                            <a class="dropdown-item" href="#" @click.prevent="signout">
                                <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                            </a>
                        </div>
                    </div><!-- profile -->
                </div>
            </div>
        </div>
    </div>
    <!--app-header end-->
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        computed: {
            ...mapGetters({
                user: 'auth/user'
            })
        },

        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            signout () {
                this.logout().then(() => {
                    this.$router.replace({ name: 'login' })
                })
            }
        }
    }
</script>
