<template>
    <div><!-- Sidebar menu-->
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar">
            <div class="app-sidebar__user">
                <div class="dropdown user-pro-body">
<!--                    <div>-->
<!--                        <img src="assets/images/faces/male/33.jpg" alt="user-img" class="avatar avatar-xl brround mCS_img_loaded">-->
<!--                    </div>-->
                    <div class="user-info">
<!--                        <h4 class="font-weight-semibold text-white mt-2 mb-1">{{ user.data.name }}</h4>-->
                        <span class="mb-0 text-white-transparent">Mdx Solutions</span>
                    </div>
                </div>
            </div>
            <ul class="side-menu">
                <li class="slide" v-show="this.$route.name === 'orders'">
                    <a class="side-menu__item" data-toggle="slide" href="#">
                        <i class="side-menu__icon fa fa-laptop"></i>
                        <span class="side-menu__label">Orders</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li
                            :class="{ active: !statusSelected }"
                        >
                            <a href="#" @click.prevent="changeStatus(null)" class="slide-item">All Orders</a>
                        </li>
                        <li
                            :class="{ active: statusSelected === 'pending' }"
                        >
                            <a href="#" @click.prevent="changeStatus('pending')" class="slide-item">Pending</a>
                        </li>
                        <li
                            :class="{ active: statusSelected === 'processing' }"
                        >
                            <a href="#" @click.prevent="changeStatus('processing')" class="slide-item">Processing</a>
                        </li>
                        <li
                            :class="{ active: statusSelected === 'shipped' }"
                        >
                            <a href="#" @click.prevent="changeStatus('shipped')" class="slide-item">Shipped</a>
                        </li>
                    </ul>
                </li>

                <li v-show="currentRouteName === 'order-create' || currentRouteName === 'order-edit'">
                    <router-link :to="{ name: 'orders' }" :class="'side-menu__item'">
                        <i class="side-menu__icon fa fa-chevron-left"></i>
                        Back
                    </router-link>
                </li>
            </ul>
        </aside>
        <!--sidemenu end-->
    </div>
</template>

<script>
    import { mapGetters, mapActions, mapMutations } from 'vuex'

    export default {
        data() {
          return {

          }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user',
                statusSelected: 'orders/getStatusSelected'
            }),
            currentRouteName() {
                return this.$route.name;
            }
        },
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),

            ...mapMutations({
                changeStatusSelected: 'orders/setStatusSelected',
            }),

            changeStatus(status) {
                this.changeStatusSelected(status)
            },

            signout () {
                this.logout().then(() => {
                    this.$router.replace({ name: 'login' })
                })
            }
        }
    }
</script>
