<template>
    <div>
        <v-col cols="12" sm="6">
            <v-select
                v-model="order.products"
                :items="products"
                :menu-props="{ maxHeight: '400' }"
                label="Select"
                multiple
                hint="Pick your products"
                persistent-hint
            ></v-select>
        </v-col>
    </div>
</template>

<script>

    export default {
        props: ['products']
    }
</script>
