<template>
    <div class="login-img" style="height: 100%">
        <div class="page">
            <message></message>
            <div class="page-single">
                <slot />
            </div>
        </div>
    </div>
</template>

<script>

    export default {

    }
</script>
