<template>
    <div class="app sidebar-mini rtl">
        <div class="page">
            <div class="page-main">
                <navigation></navigation>
                <sidebar></sidebar>

                <!-- app-content -->
                <div class="app-content  my-3 my-md-5">
                    <div class="side-app">
                        <slot />
                    </div>
                </div>
                <!-- app-content end-->
            </div>

            <footer-component></footer-component>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import Navigation from "../components/Navigation";
    import Sidebar from "../components/Sidebar"
    import Breadcrumb from "../components/Breadcrumb"

    export default {
        components: {
            Navigation,
            Sidebar,
            Breadcrumb
        },

        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
        },

        mounted() {
            let sidemenu = document.createElement('script')
            sidemenu.setAttribute('src','assets/plugins/toggle-sidebar/sidemenu.js')
            document.head.appendChild(sidemenu)

            let custom = document.createElement('script')
            custom.setAttribute('src','assets/js/custom.js')
            document.head.appendChild(custom)
        },
    }
</script>
